.heading{
    width:100%;
    text-align: left;
    
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 10px groove blue;
}
#MARIO{
    width: 100%;
}
.btn-warning, #status{
    font-size: 22px;
}
